@using LMS.Web.ExtensionMethods
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Principal
@using LMS.Business.Extensions
@inject IPrincipal _principal;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]  Learning Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Learning Management System" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png">


    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <script src="~/assets/js/custom.js"></script>
    <!-- CSS here -->
    <link rel="stylesheet" href="~/website-assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/website-assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/website-assets/css/animate.css">
    <link rel="stylesheet" href="~/website-assets/css/owl-carousel.css">
    <link rel="stylesheet" href="~/website-assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/website-assets/css/backtotop.css">
    <link rel="stylesheet" href="~/website-assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/website-assets/css/nice-select.css">
    <link rel="stylesheet" href="~/website-assets/css/font-awesome-pro.css">
    <link rel="stylesheet" href="~/website-assets/css/spacing.css">
    <link rel="stylesheet" href="~/website-assets/css/style.css">
    <link rel="stylesheet" href="~/website-assets/css/Custom.css">
    <link rel="stylesheet" href="~/website-assets/css/fnc-slider.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <style>
        .form-control {
            line-height: 2 !important;
        }

        .multiselect {
            opacity: 1 !important;
        }

    </style>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    @*  <!-- pre loader area start -->
    <div id="loading">
    <div id="loading-center">
    <div id="loading-center-absolute">
    <svg id="loader">
    <path id="corners" d="m 0 12.5 l 0 -12.5 l 50 0 l 0 50 l -50 0 l 0 -37.5" />
    </svg>
    <img src="website-assets/img/favicon.png" alt="">
    </div>
    </div>
    </div>
    <!-- pre loader area end -->

    <!-- back to top start -->
    <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
    </div>
    <!-- back to top end -->*@

    <!-- header area start -->
    @{
        var role = _principal.Identity.RoleName();
    }
    <header>
        <div id="header-sticky" class="header__area ">
            <div class="header__bottom">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-xxl-8 col-xl-9 col-lg-10 col-md-6 col-6">
                            <div class="header__bottom-left d-flex align-items-center">
                                <div class="logo">
                                    <a href="/Home">
                                        <img src="/website-assets/img/logo/logo.png" class="img-fluid my-2" alt="logo">
                                    </a>
                                </div>
                                <div class="main-menu main-menu-2 main-menu-border ml-30 pl-30">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li>
                                                <a href="/Home">@Html.Translate("Home")</a>

                                            </li>
                                            @if (role == "Super Admin")
                                            {
                                                <li>
                                                    <a href="/Home/Dashboard">@Html.Translate("Dashboard")</a>
                                                </li>
                                            }
                                            @if (role == "Admin")
                                            {
                                                <li>
                                                    <a href="/Home/AdminDashboard">@Html.Translate("Dashboard")</a>
                                                </li>
                                            }
                                            @if (role == "Trainee")
                                            {
                                                <li>
                                                    <a href="/Home/TraineeDashboard">@Html.Translate("Dashboard")</a>
                                                </li>
                                            }
                                            @if (role == "Instructor")
                                            {
                                                <li>
                                                    <a href="/Home/InstructorDashboard">@Html.Translate("Dashboard")</a>
                                                </li>
                                            }
                                            @if (role == "Admission admin")
                                            {
                                                <li>
                                                    <a href="/Home/AdmissionDashboard">@Html.Translate("Dashboard")</a>
                                                </li>
                                            }
                                            <li>
                                                <a href="/AboutUs">@Html.Translate("About")</a>
                                            </li>
                                            <li class="">
                                                <a href="/Course/AllCourses">@Html.Translate("Courses")</a>
                                                @*<ul class="submenu">
                                                </ul>*@
                                            </li>

                                            <li>
                                                <a href="#">@Html.Translate("Blog")</a>

                                            </li>
                                            <li>
                                                <a href="/ContactUs">@Html.Translate("ContactUs")</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-3 col-lg-2 col-md-6 col-6">
                           
                           



                            @{
                                System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
                            }
                            <div class="header__bottom-right d-flex justify-content-end align-items-center pl-30">

                                @{

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        var Name = _principal.Identity.Name;
                                        <span>@Name</span>
                                    }

                                }
                                <div class="header__action  d-xl-block">
                                    

                                    <li class="dropdown" style="list-style: none;">
                                        
                                           
                                        

                                     
                                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="false" aria-expanded="false">
                                            <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.1466 8.96416C7.05493 8.95499 6.94493 8.95499 6.8441 8.96416C4.66243 8.89083 2.92993 7.10333 2.92993 4.90333C2.92993 2.65749 4.74493 0.833328 6.99993 0.833328C9.24576 0.833328 11.0699 2.65749 11.0699 4.90333C11.0608 7.10333 9.32826 8.89083 7.1466 8.96416Z" stroke="#05868E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M2.56341 12.3467C0.345075 13.8317 0.345075 16.2517 2.56341 17.7275C5.08424 19.4142 9.21841 19.4142 11.7392 17.7275C13.9576 16.2425 13.9576 13.8225 11.7392 12.3467C9.22758 10.6692 5.09341 10.6692 2.56341 12.3467Z" stroke="#05868E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end rounded">

                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <a class="dropdown-item" href="/Profile"><i data-feather="user" class="align-self-center me-1"></i> @Html.Translate("Profile")</a>
                                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                                    <i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i> @Html.Translate("Logout")
                                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                                                    </form>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" href="/Account/SignUp"><i data-feather="user" class="align-self-center me-1"></i> @Html.Translate("SignUp")</a>
                                                <a class="dropdown-item" href="javascript:document.getElementById('logoInForm').submit()">
                                                    <i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i> @Html.Translate("Login")
                                                    <form id="logoInForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login">
                                                    </form>
                                                </a>
                                            }
                                        </div>
                                    </li>


                                </div>
                                <div class="header__search header__search-2 d-none d-xl-block">
                                    <form action="#">
                                        <div class="header__search-input">
                                            <input type="text" placeholder="@Html.Translate("Search")...">
                                            <button class="header__search-btn">
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M8.11111 15.2222C12.0385 15.2222 15.2222 12.0385 15.2222 8.11111C15.2222 4.18375 12.0385 1 8.11111 1C4.18375 1 1 4.18375 1 8.11111C1 12.0385 4.18375 15.2222 8.11111 15.2222Z" stroke="#05868E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M17 17L13.1333 13.1333" stroke="#05868E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="header__hamburger ml-20 d-xl-none">
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#offcanvasmodal" class="hamurger-btn">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                                <div>
                                    <li class="dropdown" style="list-style: none;">
                                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="false" aria-expanded="false">
                                            <i class="fas fa-globe"></i>

                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" id="languageLink" href="javascript:void(0)" onclick="changeDir('ltr', 'en')">
                                                @Html.Translate("English")
                                            </a>
                                            <a class="dropdown-item" id="languageLinkArabic" href="javascript:void(0)" onclick="changeDir('rtl', 'ar')">
                                                @Html.Translate("Arabic")
                                            </a>

                                        </div>
                                    </li>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <!-- offcanvas area start -->
    <div class="offcanvas__area">
        <div class="modal fade" id="offcanvasmodal" tabindex="-1" aria-labelledby="offcanvasmodal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="offcanvas__wrapper">
                        <div class="offcanvas__content">
                            <div class="offcanvas__top mb-40 d-flex justify-content-between align-items-center">
                                <div class="offcanvas__logo logo">
                                    <a href="index.html">
                                        <img src="/website-assets/img/logo/logo.png" alt="logo">
                                    </a>
                                </div>
                                <div class="offcanvas__close">
                                    <button class="offcanvas__close-btn" data-bs-toggle="modal" data-bs-target="#offcanvasmodal">
                                        <i class="fal fa-times"></i>
                                    </button>
                                </div>
                            </div>
                          
                            <div class="mobile-menu fix"></div>
                          @*  <div class="offcanvas__text d-none d-lg-block">
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and will give you a complete account of the system and expound the actual teachings of the great explore</p>
                            </div>*@
                           @* <div class="offcanvas__map d-none d-lg-block mb-15">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29176.030811137334!2d90.3883827!3d23.924917699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1605272373598!5m2!1sen!2sbd"></iframe>
                            </div>*@
                            <div class="offcanvas__contact mt-30 mb-20">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li class="d-flex align-items-center">
                                        <div class="offcanvas__contact-icon mr-15">
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                        <div class="offcanvas__contact-text">
                                            <a target="_blank" href="#">King Abdulaziz Center for National Dialogue 4th Floor, Riyadh - Northern Ring Road, Exit (6)</a>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <div class="offcanvas__contact-icon mr-15">
                                            <i class="far fa-phone"></i>
                                        </div>
                                        <div class="offcanvas__contact-text">
                                            <a href="tel:+966 11 2665727">+966 11 2665727</a>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <div class="offcanvas__contact-icon mr-15">
                                            <i class="fal fa-envelope"></i>
                                        </div>
                                        <div class="offcanvas__contact-text">
                                            <a href="mailto:info@salam4cc.org">info@salam4cc.org</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="offcanvas__social">
                                <ul>
                                    <li><a href="https://www.facebook.com/Salam4CC"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/Salam4cc"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCtOP_NC-yxoJQgQTPieMGgw/playlists"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/salam4cc/"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- offcanvas area end -->
    <div class="body-overlay"></div>
    <!-- offcanvas area end -->

    <main>
        <div class="more_link">

            <div class="row">
                <div class="col-md-12">
                    <a href="https://salam4cc.org/en/salam-calendar/" title="Salam Calendar">Salam Calendar<i class="fa fa-calendar" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-12">
                    <a href="/ContactUs" title="Contact Us">Contact Us<i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <a href="https://www.facebook.com/Salam4CC" target="_blank" class="facebook no_move ">Salam in facebook<i class="fa-brands fa-facebook-f"></i></a>
                </div>

                <div class="col-md-12">
                    <a href="https://www.youtube.com/channel/UCtOP_NC-yxoJQgQTPieMGgw/playlists" target="_blank" class="youtube no_move pin">Salam in youtube<i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-12">
                    <a href="https://twitter.com/Salam4cc" target="_blank" class="twitter no_move ">Salam in twitter<i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-12">
                    <a href="https://sa.linkedin.com/company/salam4cc" target="_blank" class="linkedin no_move ">Salam in linkedin<i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>
        <div id="focus">

            @RenderBody()
        </div>
    </main>

    <!-- footer area start -->
    <footer>
        <div class="footer__area">
            <div class="footer__top grey-bg-4 pt-95 ">
                <div class="container">
                    <div class="row">
                        <div class=" col-lg-2 col-md-6 col-sm-12">
                            <div class="footer__widget footer__widget-2 mb-50">
                                <div class="footer__logo">
                                    <div class="footer-logo">
                                        <a href="index.html">
                                            <img src="/website-assets/img/logo/Footer-logo.png" alt="" width="150">
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6 col-sm-12 ">
                            <div class="footer__widget footer__widget-2 mb-50 pl-20 ">
                                <h3 class="footer__widget-title">   @Html.Translate("QuickLinks")</h3>
                                <div class="d-flex justify-content-between ">
                                <div class="footer__widget-content ">
                                    <ol>
                                        <li>
                                                <a href="#">  @Html.Translate("WhoWeAre")</a>
                                        </li>
                                        <li>
                                                <a href="#">  @Html.Translate("Training")</a>
                                        </li>
                                        <li>
                                                <a href="#">  @Html.Translate("Programs")</a>
                                        </li>
                                        <li>
                                                <a href="#">   @Html.Translate("SalamPublications")</a>
                                        </li>
                                        <li>
                                                <a href="#">  @Html.Translate("News")</a>
                                        </li>
                                        

                                        </ol>
                                    </div>
                                    <div class="footer__widget-content pl-50 pr-50">
                                    <ol>
                                        <li>
                                                <a href="#">   @Html.Translate("SalamFriends")</a>
                                        </li>
                                        <li>
                                                <a href="#">  @Html.Translate("Gallery")</a>
                                        </li>
                                        <li>
                                                <a href="#"> @Html.Translate("SalamCalendar")</a>
                                        </li>
                                        <li>
                                                <a href="#">   @Html.Translate("ContactUs")</a>
                                        </li>
                                       

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-3 col-md-6 col-sm-12 ">
                            <div class="footer__widget footer__widget-2 mb-50 ">
                                <h3 class="footer__widget-title">   @Html.Translate("FriendlySites")</h3>
                                <div class="footer__widget-content">
                                    <ol>
                                        <li>
                                            <a href="#">  @Html.Translate("KAICIID")</a>
                                        </li>
                                        <li>
                                            <a href="#">  @Html.Translate("KingAbdulazizPublicLibrary")</a>
                                        </li>
                                        <li>
                                            <a href="#">  @Html.Translate("KACND")</a>
                                        </li>
                                        <li>
                                            <a href="#">  @Html.Translate("UNESCO")</a>
                                        </li>
                                        <li>
                                            <a href="#">  @Html.Translate("UNAOC")</a>
                                        </li>


                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <div class="footer__widget footer__widget-2  mb-50">
                                <h3 class="footer__widget-title"> @Html.Translate("ContactUs")</h3>
                                <div class="footer__widget-content">
                                    <p>
                                        @Html.Translate("P.OBox")<br>
                                         @Html.Translate("Riyadh")<br>
                                        @Html.Translate("KingAbdulazizCenter")<br>
                                        @Html.Translate("Telephone")<br>
                                         @Html.Translate("info@salam")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-hr">
                <hr class="footer-line" />
            </div>

            <div class="footer__bottom ">
                <div class="container">
                    <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                        <p class="Subscribe col-lg-3 col-md-6 col-sm-12 mb-0 "> @Html.Translate("SubscribeToOurNewsletter")</p>
                        <div class="site-footer__form col-lg-6 col-md-6 col-sm-12 mt-20">

                            <div class="wpcf7 js" id="wpcf7-f962-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                <form action="" method="post" class="wpcf7-form init d-flex" aria-label="Contact form" novalidate="novalidate" data-status="init">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="962">
                                        <input type="hidden" name="_wpcf7_version" value="5.7.6">
                                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f962-o1">
                                        <input type="hidden" name="_wpcf7_container_post" value="0">
                                        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                    </div>
                                    <div class="site-footer__form-icon">

                                        <i class="fa-light fa-envelope-open-text"></i>

                                    </div>
                                    <p>
                                        <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="@Html.Translate("EnterEmail")" value="" type="email" name="your-email"></span><br>
                                        <button type="submit"><i class="egypt-icon-right-arrow1"></i></button>
                                    </p><p style="display: none !important;">
                                        <label>Δ<textarea name="_wpcf7_ak_hp_textarea" cols="45" rows="8" maxlength="100"></textarea></label><input type="hidden" id="ak_js_1" name="_wpcf7_ak_js" value="1686924615575">
                                        <script>document.getElementById("ak_js_1").setAttribute("value", (new Date()).getTime());</script>
                                    </p>
                                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                                </form>
                            </div>

                        </div>

                        <div class="nav col-lg-3 col-md-6 col-sm-12 justify-content-end ">
                            <p class="Subscribe"> Copyrights © 2023 Salam.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- footer area end -->
    <!-- JS here -->

    <script src="~/dist/js/app.js"></script>
    <script src="~/website-assets/js/vendor/jquery.js"></script>
    <script src="~/website-assets/js/vendor/waypoints.js"></script>
    <script src="~/website-assets/js/bootstrap-bundle.js"></script>
    <script src="~/website-assets/js/meanmenu.js"></script>
    <script src="~/website-assets/js/swiper-bundle.js"></script>
    <script src="~/website-assets/js/owl-carousel.js"></script>
    <script src="~/website-assets/js/magnific-popup.js"></script>
    <script src="~/website-assets/js/parallax.js"></script>
    <script src="~/website-assets/js/backtotop.js"></script>
    <script src="~/website-assets/js/nice-select.js"></script>
    <script src="~/website-assets/js/counterup.js"></script>
    <script src="~/website-assets/js/wow.js"></script>
    <script src="~/website-assets/js/isotope-pkgd.js"></script>
    <script src="~/website-assets/js/imagesloaded-pkgd.js"></script>
    <script src="~/website-assets/js/main.js"></script>
    <script src="~/website-assets/js/fnc-slider.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.documentElement.setAttribute('dir', sessionStorage.getItem("Dir"));
        });
        function changeDir(x, lang) {
            document.documentElement.setAttribute('dir', x);
            sessionStorage.setItem("Dir", x);
            sessionStorage.setItem("locales", lang);

            var currentUrl = encodeURIComponent(window.location.pathname);
            if (x == 'ltr') {
                var returnUrl = currentUrl;
                var redirectUrl = '/Home/SetLanguage?culture=en-US&returnUrl=' + returnUrl;
                window.location.href = redirectUrl;
            }
            else {
                returnUrl = currentUrl;
                redirectUrl = '/Home/SetLanguage?culture=tr-TR&returnUrl=' + returnUrl;
                window.location.href = redirectUrl;
            }


        }
    </script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true,
            dots: true,
            nav: true,
            navText: [
                "<i class='fa fa-caret-left'></i>",
                "<i class='fa fa-caret-right'></i>"
            ],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 1,
                    spaceBetween: 40,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 50,
                },
            },
        });
    </script>
</body>

</html>